{% style %}
  #configurator .chakra-button {
    border-radius: 25px;
  }

  #configurator .chakra-select {
    display: inline-block !important;
  }

  /* #configurator > div.chakra-stack > div.chakra-stack {
    background-color: #fff;
  } */
{% endstyle %}

<div id="configurator" data-product-id="{{ product.id }}"></div>

{%- liquid
  render 'configurator-basic.js'
  render 'Error.js'
  render 'NoConfiguration.js'
  render 'ScaleableImage.js'
-%}
