{% style %}
  .header-wishlist,
  .header-wishlist a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
{% endstyle %}

<div class="header-wishlist">
  <a href="#swym-wishlist" class="swym-wishlist">
    <img src="{{ 'AddToProject.svg' | asset_url }}" width="auto" height="20">
  </a>
</div>
