{% style %}
  /* General Styles */
  .tabs-container {
    width: 100%;
    margin-top: 24px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .tab-headers {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
  }

  .tab-header {
    padding: 15px 0;
    background: #fff;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    font-size: 14px;
    font-family: var(--font-heading-family);
    border: unset;
    border-top: 1px solid rgba(157, 157, 157, 0.2);
    border-radius: 0;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tab-header .icon-caret {
    width: auto;
    height: 8px;
    transition: transform 0.3s ease;
  }

  .tab-header.active {
    background: #fff; /* Your primary blue color */
    color: #1d1d1f;
    font-weight: bold;
    border-color: #fff;
    border-top: 1px solid rgba(157, 157, 157, 0.2);
  }

  .tab-header.active .icon-caret {
    transform: rotate(180deg);
  }

  .tab-content-container {
    padding: 0 10px 10px 10px;
    background: #fff;
  }

  .tab-content {
    width: 100%;
    max-height: 0; /* Collapsed height */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.3s ease-in-out;
  }

  .tab-content:not(.addons-container) {
    line-height: 1.8;
  }

  .tab-content:not(.addons-container) a {
    color: var(--color-primary)
  }

  .tab-content a:hover {
    text-decoration: underline;
  }

  .tab-content.active {
    display: block;
    max-height: 1000px;
  }

  .tab-content.complementary-products--no-recommendations {
    display: none;
  }

  .complimentary-header {
    display: none;
  }

  .new-description-wrapper {
    margin-top: 64px;
    padding: 0 10px;
  }

  @media (max-width: 767px) {
    .tab-headers {
      flex-direction: column;
      align-items: stretch;
      gap: 0.5rem;
    }
  }

  @media (min-width: 768px) {
    .tab-content-container {
      padding: 0;
      background: #fff;
    }

    .tabs-container {
      margin-top: 32px;
    }
  }

  @media (min-width: 1025px) {
    .new-description-wrapper {
        padding: 0;
    }

    .tab-header .icon-caret {
      display: none;
    }

    .tabs-container {
      margin-top: 40px;
    }

    .tab-header {
      text-align: center;
      grid-row: 1;
      border-top: 0;
      border-radius: 25px;
      padding: 15px 24px;
      justify-content: center;
      border: 1px solid #4F6A8A;
    }

    .tab-header.active {
      background: #4F6A8A;
      color: #fff;
      font-weight: bold;
      border-color: #4F6A8A;
      border-top: 0;
    }

    .tab-content {
      grid-row: 2;
      grid-column: 1 / -1;
      display: none;
    }

    .tab-content-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: auto auto;
      gap: 10px;
    }
  }
{% endstyle %}

<div class="tabs-container">
  <div class="tab-headers"></div>
  <div class="tab-content-container">
    <!-- Dynamic tab contents will be added here -->

    {% render 'complementary-products', product: product %}
  </div>

  <div class="d-none icon-caret-container">
    <span class="svg-wrapper">
      {{- 'icon-caret.svg' | inline_asset_content -}}
    </span>
  </div>
</div>
