{% schema %}
{
  "name": "Color Swatch",
  "settings": [],
  "presets": [
    {
      "name": "Colors"
    }
  ]
}
{% endschema %}

<section class="container">
  {% render 'color-swatch-product' %}
</section>
