{% schema %}
{
  "name": "Shipping Calculator",
  "settings": [],
  "presets": [
    {
      "name": "Shipping Calculator"
    }
  ]
}
{% endschema %}

<section class="container">
  {% render 'shipping-calculator' %}
</section>
