.color-swatch__container {
    min-height: 36px;
}

.color-swatch__container .color-options {
  display: flex;
  gap: 4px;
  padding: 10px 0;
}

.color-swatch__container .color-options .color-swatch__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid transparent;
  transition: transform 0.2s, border 0.2s;
}

/* Product */
.color-swatch-product__container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  flex-wrap: wrap;
}

.color-swatch-product__container .color-options {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

.color-swatch-product__container p {
  margin: 0;
}

.color-swatch-product__container .color-swatch__circle {
  width: 47px;
  height: 47px;
  border-radius: 2;
  display: inline-block;
  border: 2px solid transparent;
  transition: transform 0.2s, border 0.2s;
}

.color-swatch-product__container .selected {
  outline: 1px solid #1d1d1f;
  outline-offset: 1px;
  border: 1px solid white;
}

.color-swatch__circle.swatch-img {
  background-size: 175% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.color-swatch__circle.black {
  background-color: #1d1d1f;
}

.color-swatch__circle.white {
  background-color: #fff;
  border: 1px solid #1d1d1f;
}

.color-swatch__circle.matte-black {
  background-color: #28282b;
}

.color-swatch__circle.brushed-brass,
.color-swatch__circle.tiger-bronze {
  background: url("/cdn/shop/files/Brushed_Brass_5d75d31c-9728-4a5d-83f5-b83598f5b5c4.png?v=1710286351");
}

.color-swatch__circle.brushed-gold {
  background: url("/cdn/shop/files/Brushed_Gold_aadb66d3-3003-4eff-8d82-1cf7c81b8bad.png?v=1710286351");
}

.color-swatch__circle.brushed-nickel {
  background: url("/cdn/shop/files/Brushed_Nickel_9530d276-0e10-42e5-b27f-a0e5c3cb5dff.png?v=1710286351");
}

.color-swatch__circle.champagne {
  background: url("/cdn/shop/files/Champagne_58e4cf50-c03f-44f8-bac5-829f66032859.png?v=1710295402");
}

.color-swatch__circle.chrome {
  background: url("/cdn/shop/files/Chrome_bb39f7d1-ceed-4333-b271-9b5a3920ddab.png?v=1710286351");
}

.color-swatch__circle.copper,
.color-swatch__circle.brushed-copper,
.color-swatch__circle.lustre-bronze {
  background: url("/cdn/shop/files/Brushed_Copper.png?v=1710286351");
}

.color-swatch__circle.gun-metal-grey,
.color-swatch__circle.gun-metal.grey,
.color-swatch__circle.shadow {
  background: url("/cdn/shop/files/Gun_Metal.png?v=1710286351");
}

.color-swatch__circle.stainless-steel {
  background: url("/cdn/shop/files/Stainless_Steel_8d646b15-aef9-4ce5-8c18-096ffd2ebb68.png?v=1710286351");
}


.color-swatch__container .color-options:has( a:only-child){
  display: none !important;
}