.productitem__badge {
  font-size: 10px;
}

.product__badge,
.hotspot__badge,
.productitem__badge {
  font-style: normal;
  font-weight: 700;
  padding: 0.25rem 0.3125rem;
  text-decoration: none;
  vertical-align: middle;
}

.product__badge--soldout,
.hotspot__badge--soldout,
.productitem__badge--soldout {
  color: rgb(255, 255, 255);
  background-color: #1d1d1f;
}

.product__badge--sale,
.productitem__badge--sale,
.hotspot__badge--sale,
.product__badge--pre-order,
.productitem__badge--pre-order,
.hotspot__badge--pre-order,
.badges__container .productitem__badge {
  color: #fff;
  background-color: #b3261e;
  display: inline-flex;
  border-radius: 25px;
  padding: 2px 12px;
}

.badges__container .productitem__badge.productitem__badge_australian-made {
  background-color: #27ae60;
}
.badges__container .productitem__badge.productitem__badge_clearance {
  background-color: #b3261e;
}
.badges__container .productitem__badge.productitem__badge_express-ship {
  background-color: #1682c3;
}

.discount-label__badge {
  color: #b3261e;
  font-size: 14px;
  font-weight: 500;
}

.badges__container {
  height: 55px;
  gap: 4px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .badges__container {
    height: 34px;
  }
}

.badges__container.product-page {
  height: 16px;
}

.badges__container:empty {
  display: none;
}

.sale-badge {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
