.cart-item--price-title,
.quantity-selector__label {
  display: none;
}

.cart-item__quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-item quantity-selector {
  width: 100%;
  max-width: 140px;
}

.cart-item__quantity .quantity-selector__input {
  padding-left: 0;
  padding-right: 0;
}

.cart-item__quantity quantity-selector {
  margin-right: 12px;
}

.cart-item__remove {
  margin-top: 4px;
}

.cart-item__info {
  display: flex;
  justify-content: space-between;
}

.cart-item--inner {
  margin-top: 12px;
  padding-left: 12px;
}

@media screen and (min-width: 860px) {
  .cart-item--content {
    max-width: 390px;
  }
}

@media screen and (min-width: 990px) {
  .cart-item--inner {
    flex-direction: column;
    gap: 12px;
  }
  .cart-item__info {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .cart-item--inner {
    flex-direction: row;
  }
  .cart-item__info {
    width: auto;
  }

  .cart-item--content {
    width: 100%;
    max-width: 400px;
  }
}

.cart-item__quantity quantity-selector {
  min-width: 140px;
}

.cartitems--list-wrapper .cartitems-header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  text-transform: uppercase;
  padding-bottom: 12px;
}

.cartitems--list-wrapper .cartitems-header span {
  color: rgba(29, 29, 31, 0.9);
}

.cartitems--list-wrapper .cartitems-header .cartitems-header-item--price,
.cartitems--list-wrapper .cartitems-header .cartitems-header-item--quantity {
  display: none;
}

.cart-item--content-price {
  display: flex;
  flex-direction: column;
}

.cart-total {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.cart-total .options-col {
  width: 100%;
}

.cart-total .summary-col {
  width: 100%;
}

.cart__delivery-option {
  margin-bottom: 24px;
}

.cart__delivery-option select {
  margin-top: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart__delivery-option .required {
  color: #f44336;
}

.cart__delivery-option .svg-wrapper svg {
  top: 65%;
  width: 18px;
  height: 16px;
  right: 12px;
}

.cart-subtotal .subtotal-label {
  font-size: 14px;
  font-weight: bold;
}

.cart-subtotal .money {
  font-size: 26px;
  font-weight: bold;
}

.cart-checkout .checkout-btn {
  background-color: var(--color-primary) !important;
  border-radius: 25px !important;
}

.cart-final-total hr {
  border-color: rgba(29, 29, 31, 0.07);
}

.cart-checkout .payment-icons {
  justify-content: center;
}

.shopify-accelerated-checkout-cart > * {
  flex: 1;
  max-width: 33.333%;
}

shopify-accelerated-checkout-cart {
  pointer-events: none;
  opacity: 0.5;
}

.agree-checked shopify-accelerated-checkout-cart {
  pointer-events: auto;
  opacity: 1;
}

.continue-shopping-btn {
  padding: 15px 80px;
  min-height: 54px;
}

.cart-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.75rem;
  margin-bottom: 32px;
  color: var(--color-dark);
}

@media screen and (min-width: 1024px) {
  .cart-title {
    margin-top: 3.125rem;
  }
}
.cart-title h1,
.cart-title .age-gate__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.cart-title-right {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.cart-title-button {
  font-size: var(--font-size-button-small);
  padding: 0.625rem 1rem;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
}
.cart-title-button {
  text-transform: none;
}
@media screen and (min-width: 480px) {
  .cart-title-button {
    font-size: var(--font-size-button-medium);
    padding: 0.75rem 1.125rem;
    letter-spacing: 0em;
  }
  .cart-title-button {
    text-transform: none;
  }
}
.cart-title-button svg {
  display: block;
  width: 19px;
  height: 18px;
  margin-right: 10px;
}

.cart-title-total {
  font-size: var(--font-size-body-smaller);
  margin-top: 0.25rem;
  color: #949494;
}
.cart-title-total span {
  display: inline-block;
  margin-left: 0.25rem;
  color: #1d1d1d;
}

.cart-title-total--small {
  width: 100%;
}

.cart-title-total--large .cart-title-total {
  margin-top: 0;
  margin-right: 1.25rem;
  text-align: right;
}
.cart-title-total--large span {
  font-size: var(--font-size-heading-4);
  display: block;
  margin-top: 0.25rem;
  margin-left: 0;
}

@media screen and (min-width: 860px) {
  .cartitems--container.has-sidebar {
    display: flex;
  }
}
@media screen and (min-width: 860px) {
  .cartitems--container.has-sidebar .cartitems {
    width: calc(100% - (280px + 1.25rem));
    margin-right: 1.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .cartitems--container.has-sidebar .cartitems {
    width: calc(100% - (280px + 2rem));
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .cartitems--container.has-sidebar .cartitems {
    width: calc(100% - (280px + 3.125rem));
    margin-right: 3.125rem;
  }
}

.cartitems .cartitems--list {
  padding-left: 0;
}

.cartitems-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
  width: 100%;
}

.cartitems-empty--inner p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.cartitems-empty--inner .button-primary {
  font-size: var(--font-size-button-medium);
  padding: 0.75rem 1.125rem;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cartitems-empty--inner .button-primary {
  text-transform: none;
}
.cartitems-empty--inner .button-primary svg {
  display: block;
  width: 19px;
  height: 18px;
  margin-right: 6px;
  margin-bottom: 1px;
}

.cart-ordernote .form-field {
  max-width: 450px;
}
.cart-ordernote textarea {
  min-height: 118px;
}

.cart-ordernote-heading {
  display: block;
  margin-bottom: 0.75rem;
  color: #1d1d1d;
}

.cart-final-total {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cart-final-total .discount-list-item svg {
  height: 0.75rem;
  width: 0.75rem;
}

.cart-discount,
.cart-subtotal {
  display: table;
  width: 100%;
}
.cart-discount > span,
.cart-subtotal > span {
  display: table-cell;
  vertical-align: middle;
}
.cart-discount .money,
.cart-discount .cart-discount-price,
.cart-subtotal .money,
.cart-subtotal .cart-discount-price {
  min-width: 7rem;
  text-align: right;
  vertical-align: top;
}

.cart-discount {
  font-size: var(--font-size-body);
}
.cart-discount > span {
  margin-bottom: 0.25rem;
}

.cart-subtotal {
  font-size: 1.375rem;
  color: #1d1d1d;
}
.cart-subtotal .money {
  font-size: 1.75rem;
}

.cart-update {
  display: block;
  margin-left: auto;
  line-height: 1.56;
}

.cart-shipping {
  font-size: var(--font-size-body);
  margin-bottom: 1.75rem;
  color: #1d1d1d;
  line-height: 1.56;
}
.cart-shipping .cart-shipping-toggle {
  display: block;
  line-height: 1.56;
}
.no-js .cart-shipping .cart-shipping-toggle {
  display: none;
}

.cart-shippingcalc--container {
  display: none;
  margin-bottom: 4.25rem;
}
.cart-shippingcalc--container.open {
  display: block;
}

.cart-shippingcalc-form {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.cart-shippingcalc-form .cart-shippingcalc--inner {
  margin-bottom: 1rem;
}
@media screen and (min-width: 480px) {
  .cart-shippingcalc-form .cart-shippingcalc--inner {
    display: flex;
  }
}
.cart-shippingcalc-form .form-field {
  width: 100%;
}
@media screen and (max-width: 479px) {
  .cart-shippingcalc-form .form-field {
    margin-bottom: 1rem;
  }
  .cart-shippingcalc-form .form-field:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) {
  .cart-shippingcalc-form .form-field {
    width: calc(33.3333333333% - 1rem / 2 - 2px);
    margin-right: 1rem;
  }
  .cart-shippingcalc-form .form-field:last-child {
    margin-right: 0;
  }
}
.cart-shippingcalc-form .button-primary {
  font-size: var(--font-size-button-medium);
  padding: 0.75rem 1.125rem;
  letter-spacing: 0em;
}
.cart-shippingcalc-form .button-primary {
  text-transform: none;
}
.cart-shippingcalc-none {
  margin-top: 0;
}

.cart-shippingcalc-response {
  display: none;
  padding: 1.25rem;
  color: #1d1d1d;
  background-color: #f4f4f4;
}
.cart-shippingcalc-response.visible {
  display: block;
}
.cart-shippingcalc-response > *:first-child {
  margin-top: 0;
}
.cart-shippingcalc-response > *:last-child {
  margin-bottom: 0;
}

.cart-shippingcalc-rates {
  margin-top: 1.25rem;
}
.cart-shippingcalc-rates:empty {
  display: none;
}

.cart-checkout {
  text-align: center;
}
.cart-checkout .button-primary {
  font-size: var(--font-size-button-x-large);
  padding: 0.875rem 1.75rem;
  letter-spacing: 0em;
  width: 100%;
}
.cart-checkout .button-primary {
  text-transform: none;
}
.cart-checkout .button-primary svg {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 5px;
  margin-bottom: 2px;
  vertical-align: top;
}
.cart-checkout .cart-continue {
  margin-top: 1.25rem;
}

.additional-checkout-buttons {
  margin-top: 1px;
  margin-bottom: 1.25rem;
}

[data-shopify-buttoncontainer] {
  justify-content: center;
}

.cart-continue {
  font-size: var(--font-size-body);
  display: block;
}
.cart-continue:hover .icon-signpost-arrow path {
  transition: transform 125ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 125ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
.cart-continue:hover .icon-signpost-arrow path:first-child {
  transform: translateX(0);
}
.cart-continue:hover .icon-signpost-arrow path:last-child {
  transform: translateX(0);
}

.cart-sidebar {
  width: 100%;
}
@media screen and (max-width: 479px) {
  .cart-sidebar {
    margin-top: 1.75rem;
  }
}
@media screen and (max-width: 859px) and (min-width: 480px) {
  .cart-sidebar {
    display: flex;
    margin-top: 3.125rem;
  }
}
@media screen and (min-width: 860px) {
  .cart-sidebar {
    width: 280px;
  }
}

.cart-sidebar-item {
  position: relative;
}
@media screen and (max-width: 479px) {
  .cart-sidebar-item {
    width: 100%;
  }
}
@media screen and (max-width: 859px) and (min-width: 480px) {
  .cart-sidebar-item {
    width: calc(50% - 1.25rem / 2);
  }
  .cart-sidebar-item:first-child {
    margin-right: 1.25rem;
  }
}
.cart-sidebar-item .cart-sidebar-item-image {
  display: block;
  width: 100%;
  max-width: 100%;
}

.cart-sidebar-block {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 860px) {
  .cart-sidebar-block:last-child {
    margin-bottom: 0;
  }
}

.cart-sidebar-item--text {
  padding: 1.25rem;
  background-color: #f4f4f4;
}
.cart-sidebar-item--text > *:first-child {
  margin-top: 0;
}
.cart-sidebar-item--text > *:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 764px) {
  .cart-total {
    flex-direction: row;
    gap: 24px;
  }
  
  .cart-total .options-col {
    width: 50%;
  }
  
  .cart-total .summary-col {
    width: 50%;
  }
}

@media screen and (min-width: 990px) {
  .cart-total {
    flex-direction: column;
    margin-top: 0;
  }

  .cart-total .options-col {
    width: 100%;
  }
  
  .cart-total .summary-col {
    width: 100%;
  }

  .cartitems--container .cartitems {
    display: flex;
    gap: 24px;
  }

  .cartitems--container .cartitems .cartitems--list-wrapper {
    width: 70%;
  }

  .cart-sidebar {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
}
