.container {
  --layout-container-max-width: 1400px;
  --layout-container-gutter: 10px;
  max-width: var(--layout-container-max-width);
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.contact-form-container a {
    color: var(--color-primary);
}

.contact-form-container {
    gap: 32px;
    flex-direction: column;
}

.contact-form-container .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
}

.contact-form-container .contact-form .form-fields-inline {
    display: flex;
    gap: 15px;
}

.contact-form-container .contact-form,
.contact-form-container .contact-form-content {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .container {
    --layout-container-gutter: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    --layout-container-gutter: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .contact-form-container {
    flex-direction: row;
}

  .contact-form-container .contact-form,
  .contact-form-container .contact-form-content {
    width: 50%;
  }
}
