.contact-form-container a {
    color: var(--color-primary);
}

.contact-form-container {
    gap: 32px;
    flex-direction: column;
}

.contact-form-container .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
}

.contact-form-container .contact-form .form-fields-inline {
    display: flex;
    gap: 15px;
}

.contact-form-container .contact-form,
.contact-form-container .contact-form-content {
  width: 100%;
}

.contact-form-container .field__input.focus-visible + .field__label,
.contact-form-container .text-area.field__input.focus-visible + .field__label {
    font-size: 13px;
}

.contact-form-container .field__input.filled + .field__label {
    top: 20%;
    transform: translateY(-20%);
    font-size: 13px;
}

.contact-form-container .text-area.field__input.filled + .field__label,
.contact-form-container .text-area.field__input.focus-visible + .field__label  {
    top: 5%;
    transform: translateY(-20%);
    font-size: 13px;
}

.contact-form-container .text-area.field__input + .field__label {
    top: 10%;
    transform: translateY(-10%);
}

@media screen and (min-width: 720px) {
  
}

@media screen and (min-width: 1024px) {
  .contact-form-container {
    flex-direction: row;
}

  .contact-form-container .contact-form,
  .contact-form-container .contact-form-content {
    width: 50%;
  }
}
